.Navbar-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom:20px;
}
.Navbar {
    display:flex;
    justify-content: center;
    margin:0  0 20px 0;
    flex-direction: column;
    width:100%;
}

.Navbar li {
    border-bottom:solid 1px #ccc;
}

.Navbar a {
    color:#000;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    display: block;
    padding:10px;
}

.Navbar a.active {
    color:#84ba3f;
    font-weight: 600;
}
.burger-wrap {
    margin: 20px auto;
}

.burger-wrap div {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 6px 0;
}


@media only screen and (min-width:768px) {
    .burger-wrap div {
        display:none;
    }

    .Navbar a {
        display:inline-block;
    }
    .Navbar {
        flex-direction: row;
        width:auto;
    }
    .Navbar li {
        border-bottom:none;
        margin-right: 20px;
    }
    .burger-wrap {
        margin: 0 auto;
    }
    .Navbar-block {
        margin-bottom:0;
        margin-top:20px;
    }
}

